<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <button (click)="loginWithGoogle()" class="btn btn-danger mt-3">Login with Google</button>
</div>
